.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a, h1, h2, h3, h4 {
        color: $gris;
    }

    .price {
        color: $verde;
    }

    .listing {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .icon {
            filter: invert(90%);
        }
    }

    .dark-mode-btn {
        filter: invert(90%);
    }

    .text-about {
        blockquote {
            filter: invert(90%);
        }
    }

    .form {
        legend, label, p {
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

}