.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        width: auto;
    }

    .dark-mode-btn {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin-top: 1rem;
        transition: transform 0.3s ease;
    
        &:hover {
            transform: scale(1.1);
        }
    
        @include tablet {
            margin-right: 2rem;
            margin-top: 0;
        }
    }
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navigation {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: visibility 0s linear .6s, opacity .6s ease, max-height .6s ease;

    @include tablet {
        visibility: visible;
        opacity: 1;
        max-height: none;
        display: flex;
        align-items: center;
        overflow: visible;;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 1.45rem;
            }
        }
    }
}

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.show {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transition: visibility 0s linear 0s, opacity .6s ease, max-height .6s ease;
}